@import 'src/styles/variables';

.sidebar {
  width: $sidebar-width;
  background-color: $sidebar-color;
  margin-top: $header-height;
  padding-top: $content-padding;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }


  li a {
    display: block;
    color: $header-text-color;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;

  }

  li a:hover {
    background-color: lighten($color: $sidebar-color, $amount: 10%);
    color: white;
  }

  span:nth-child(2) {
    color: $header-text-color;
  }

  span:first-child {
    fill: $header-text-color;
    color: $header-text-color;
    font-size: 1.5rem;
  }

}

.sidebar.collapsed {
  width: auto;

  ul li a {
    justify-content: center;
  }

  ul li a span:nth-child(2) {
    width: 0px;
    display: none;
  }

}
