@import 'src/styles/variables';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1 1 100%;
}

.main{
  display: flex;
  flex-grow: 2;
  margin-top:$header-height;
  margin-left: $sidebar-width;
}
.content {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
