@import 'src/styles/variables';

.header-container {
	background-color: $brand-color;
	height: $header-height;
  width:100%;
  position: fixed;
	display: flex;

  span {
    color: $light-color;
  }

	button {
		width: auto;
    background-color: transparent;
		svg {
			fill: $light-color;
			color: $light-color;
		}
	}

	.header-business-name {
		min-width: 200px;
		max-height: 100%;
		display: flex;
		align-items: center;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
	}

	.header-data {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

  .header-business-name,
  .header-data {
    gap:1.2rem;
  }

}

