$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #343a40;
$white-color: #ffffff;
$black-color: #000000;
$text-color: #212529;
$hover-color: #0069d9;
$link-color: #007bff;
$brand-color: #0071f2;

$bkground-color: #efefef;
$bkground-main-container-color:#f9f9f9;
$bkground-container-color: #ffffff;
$box-shadow-container: rgba(9, 30, 66, 0.25) 0 1px 1px,
	rgba(9, 30, 66, 0.13) 0 0 1px 1px;
$border-radius: 3px;


$font-size: 1rem;
$small-font-size: 0.8em;
$font-family: 'Open Sans', sans-serif;
$line-height: 1.5;


$input-border-color: #b3b3b3;

$container-max-width: 1140px;
$content-padding: 30px;

$card-padding: 15px;


$header-height: 60px;
$footer-height: 60px;
$sidebar-width: 250px;

$breakpoint-xss: 320px;
$breakpoint-xsl: 350px;
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;
