<section class="employees-container main-container">
	<section>
		<h1>Empleados registrados:</h1>
	</section>
	<section class="employees-summary-container">
		<ul>
			<li>
				<div class="home-c-option sub-container">
					<img src="/assets/images/employees.svg" alt="Imagen que representa un inventario" />
					<div>
						<h2>4</h2>
						<p>Empleados registrados</p>
					</div>
				</div>
			</li>
			<li>
				<div class="home-c-option sub-container">
					<img src="/assets/images/active_employee.svg" alt="Imagen que representa un inventario" />
					<div>
						<h2>4</h2>
						<p>Empleados en activo</p>
					</div>
				</div>
			</li>
			<li>
				<div class="home-c-option sub-container">
					<img src="/assets/images/inactive_employee.svg" alt="Imagen que representa un inventario" />
					<div>
						<h2>4</h2>
						<p>Empleados dados de baja</p>
					</div>
				</div>
			</li>
		</ul>
	</section>
	<br>
	<section class="employees-data-container">
		<div class="employees-data-btn">
			<button class="bordered-button">Dar de baja<span class="mdi mdi-account-minus mat-icon"></span></button>
			<button class="bordered-button">Regitrar<span class="mdi mdi-account-plus mat-icon"></span></button>
		</div>
		<div class="employees-data-table">
			<!-- <table> -->
			<!-- 	<thead>Empleados registrados</thead> -->
			<!-- 	<tr> -->
			<!-- 		<th>Nombre</th> -->
			<!-- 		<th>Direccion</th> -->
			<!-- 		<th>Correo</th> -->
			<!-- 		<th>Telefono</th> -->
			<!-- 		<th>Fecha de nacimiento</th> -->
			<!-- 		<th>Fecha de registro</th> -->
			<!-- 		<th>Estado de cuenta</th> -->
			<!-- 	</tr> -->
			<!-- </table> -->
		</div>
	</section>
</section>
