@import 'src/styles/variables';

.employees-container {
	max-width: 1200px;
	padding: $padding-container;
}

.employees-summary-container {
	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	li {
		list-style: none;
		padding: 15px;
	}

	.home-c-option {
		max-width: 440px;
		height: 100px;
		padding: 10px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 5px;

		div {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		img {
			height: 100px;
		}

		p {
			text-align: center;
		}

	}
}

.employees-data-container {
	display: flex;
	flex-direction: column;
	gap: 15px;

	.employees-data-btn {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 35px;

		button {
			display: flex;
			gap: 1rem;
			padding: 0;
			max-width: 150px;

			.mat-icon {
				font-size: 2rem;
			}
		}

	}

	.employees-data-table {
		height: 550px;
		background-color: red;
	}

}
