<section class="home-container main-container">
	<section>
		<h1>¡Bienvenido, Roberto!</h1>
		<h2>Elije una opción</h2>
	</section>
	<section class="home-container-options">
		<ul>
			<li>
				<div class="home-c-option sub-container">
					<img src="/assets/images/stock.svg" alt="Imagen que representa un inventario" />
					<h3>Inventario</h3>
					<p>Registrar, eliminar o actualizar insumos</p>
				</div>
			</li>
			<li>
				<div class="home-c-option sub-container">
					<img src="/assets/images/products.svg" alt="Imagen que representa un inventario" />
					<h3>Productos</h3>
					<p>Registrar, eliminar o actualizar un producto</p>
				</div>
			</li>
			<li>
				<div class="home-c-option sub-container">
					<img src="/assets/images/cooking.svg" alt="Imagen que representa un inventario" />
					<h3>Caja</h3>
					<p>Registrar una salida de producto</p>
				</div>
			</li>
			<li>
				<div class="home-c-option sub-container">
					<img src="/assets/images/workers.svg" alt="Imagen que representa un inventario" />
					<h3>Empleados</h3>
					<p>Registrar o dar de baja un empleado</p>
				</div>
			</li>
			<li>
				<div class="home-c-option sub-container">
					<img src="/assets/images/reports.svg" alt="Imagen que representa un inventario" />
					<h3>Reportes</h3>
					<p>Ver reporte de inventario</p>
				</div>
			</li>
			<li>
				<div class="home-c-option sub-container">
					<img src="/assets/images/statistics.svg" alt="Imagen que representa un inventario" />
					<h3>Gráficas</h3>
					<p>Comparar los productos e insumos más consumidos</p>
				</div>
			</li>
			<li>
				<div class="home-c-option sub-container">
					<img src="/assets/images/receipts.svg" alt="Imagen que representa un inventario" />
					<h3>Comprobantes</h3>
					<p>Registrar, eliminar o actualizar recibos</p>
				</div>
			</li>
			<li>
				<div class="home-c-option sub-container">
					<img src="/assets/images/settings.svg" alt="Imagen que representa un inventario" />
					<h3>Ajustes</h3>
					<p>Cambiar datos de tu cuenta.</p>
				</div>
			</li>

		</ul>
	</section>
</section>
