<section class="registerEmployee-main-container main-container">
  <h1>Registrar nuevo empleado</h1>
  <form>
    <h2>Información personal</h2>
    <div class="form-group">
      <span>Primer apellido:</span>
      <input type="text" value="" name="" id="" />
    </div>
    <div class="form-group">
      <span>Segundo apellido:</span>
      <input type="text" value="" name="" id="" />
    </div>
    <div class="form-group">
      <span>Nombre:</span>
      <input type="text" value="" name="" id="" />
    </div>
    <h2>Información de contacto</h2>
    <div class="form-group">
      <span>Correo electrónico:</span>
      <input type="text" value="" name="" id="" />
    </div>

    <div class="form-group">
      <span>Teléfono:</span>
      <input type="text" value="" name="" id="" />
    </div>

    <div class="form-group">
      <span>Fecha de nacimiento:</span>
      <input type="date" value="" name="" id="" />
    </div>

    <div class="form-submit">
      <button class="primary-button">Registrar</button>
      <button class="secondary-button">Cancelar</button>
    </div>
  </form>
</section>
