/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import './styles/variables';

@font-face {
	font-family: 'Open Sans';
	src: url(assets/fonts/OpenSans/OpenSans-Regular.ttf) format('truetype'),
}

* {
	margin: 0;
	padding: 0;
	font-family: $font-family;
}

body {
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	color: $text-color;
	background-color: $bkground-color;
}

a {
	color: $link-color;
	text-decoration: none;
	
	&:hover {
		color: $hover-color;
		text-decoration: underline;
	}
}

button {
	width:100%;
	border-radius: $border-radius;
	border:none;
	font-size:$font-size;
	line-height: $line-height;
	padding: 0.5rem 1rem;
	cursor:pointer;
}

.primary-button {
	background-color: $primary-color;
	color: $white-color;
	&:hover {
		background-color: darken($primary-color, 10%);
	}
}

.secondary-button {
	background-color: $secondary-color;
	color: $white-color;
	&:hover {
		background-color: darken($secondary-color, 10%);
	}
}

.success-button {
	background-color: $success-color;
	color: $white-color;
	&:hover {
		background-color: darken($success-color, 10%);
	}
}

.info-button {
  background-color: $info-color;
  color: $white-color;
  &:hover {
    background-color: darken($info-color, 10%);
  }
}

.warning-button {
  background-color: $warning-color;
  color: $white-color;
  &:hover {
    background-color: darken($warning-color, 10%);
  }
}

.danger-button {
  background-color: $danger-color;
  color: $white-color;
  &:hover {
    background-color: darken($danger-color, 10%);
  }
}

h1 {
	font-size: 2.5rem;
	line-height: 3rem;
	font-weight: 800;
	color:$text-color;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: $text-color;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: $text-color;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: $text-color;
}

span {
  font-size: 1rem;
  line-height: 1.5;
  color: $text-color;
}

input,
.input {
	padding:1em;
	width: calc(100% - 32px);
	border: 1px solid $input-border-color;
	font-size: 1em;
	border-radius: 3px;
}

.main-container {
	box-shadow: $box-shadow-container;
	background-color: $bkground-main-container-color;
	border-radius: $border-radius;
}

.sub-container {
	box-shadow: $box-shadow-container;
	background-color: $bkground-container-color;
	border-radius: $border-radius;
}
