.header-container {
	background-color: blue;
	height: 62px;
	width: 100%;
	display: flex;

	.header-buname {
		background-color: green;
		padding: 15px;
		width: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.header-buname>span {
		font-size: 1.1em;
		background-color: blue;
	}

	.header-data {
		background-color: yellow;
		flex: 1;
		display:flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 35px;
	}

	.header-data >span {
		background-color: cyan;

	} 
}
